body {
    border: 2px solid powderblue;
    padding: 10px;
    margin: 1px
}

a  {
    color:grey;

}
#menu:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  #menu:link, #menu:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #menu:hover, #menu:active {
    background-color: red;
  }