{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <style>
        .center-table {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <table class="center-table">
        <tr>
            <th> Title </th>
            <th> Shares </th>
            <th> Current price </th>
        </tr>
        <tr>
            <td> {{ title }} </td>
            <td> {{ shares }} </td>
            <td> {{ current_price }} </td>
        </tr>


    </table>


{% endblock %}
