{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <style>
        .center-table {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <table class="center-table">
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Total Shares</th>
        </tr>
        {% for item in portfolio %}
        <tr>
            <td>{{ item.symbol }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total_shares }}</td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}
